.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}
.react-datepicker__input-container input {
    padding: .375rem 2.25rem .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 1rem;
    font-weight: 400;
}

.button-pill{
    border-radius: 1.2rem;
}
.button-circle{
    border-radius: 10rem;
    padding: .5rem;
}