.application-container {
    position: relative;
    min-height: 100vh;
}

.main {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}

.navbar, .job-top-card-info, .numbers-of-applicant, .applicant-job, .result-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.nav-v2 {
    bottom: 0;
    position: fixed;
    z-index: 100;
    background-color: white;
}

.nav {
    padding-top: 8px;
}

.job-module-text, .nav-link:hover {
    color: rgba(0, 0, 0, 0.6);
}

.nav-jobs, .nav-me {
    flex-direction: column;
}

.nav-jobs, .jms-logo, .job, .entity-result-content {
    text-decoration: none !important;
}

.nav-me {
    background-color: white;
}

.dropdown-toggle:focus {
    box-shadow: none !important;
}

.dropdown-toggle:after {
    content: none !important;
}

.nav-my-photo {
    width: 24px;
}

.nav-my-photo-dropdown {
    width: 48px;
}

.text-black {
    color: black;
}

.nav-icon {
    width: 16px;
}

.section {
    display: flex;
    padding-left: 195.6px;
    padding-right: 195.6px;
}

.section-welcome {
    padding-top: 48px;
    padding-bottom: 48px;
}

.section-welcome ul, .card-list, #navbarSupportedContent ul {
    list-style: none;
    padding: 0;
}

.section-welcome-left {
    padding-right: 48px;
}

.welcome-headline, .posted-job-header {
    font-weight: 400;
}

.post-job {
    border-color: #0A66C2 !important;
    border-radius: 40.8px !important;
}

.welcome-headline {
    font-size: 56px;
    color: #2977c9;
}

.welcome-module {
    margin-top: 46px;
}

.welcome-module-list, .login-action, .signup-action, .verify-action {
    border-radius: 28px;
}

.welcome-module-list {
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 27px 41px;
}

.welcome-module-list-2 {
    margin-top: 16px;
}

.welcome-module-button, .welcome-module-button:hover {
    color: rgba(0, 0, 0, 0.9);
}

.welcome-module-button {
    font-size: 32px;
}

.welcome-module-button:hover, .dropdown-profile:hover {
    text-decoration: none;
}

.dropdown-profile:hover {
    color: black;
}

.user-headline, .user-module, .workflow-number {
    text-align: right;
}

.job-home-search-box-container {
    background-color: #dce6f1 !important;
}

.job-home-search-box-header {
    font-weight: 200;
}

.job-search-box-text-input {
    padding: 8.8px 10px;
    color:rgba(0, 0, 0, 0.9);
}

.job-search-box-submit-button {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 8px 16px;
    background-color: #fff;
}

.footer-copy {
    color: rgba(0, 0, 0, 0.75);
}

.bg-1 {
    background-color: #faf9f7;
}

.bg-2 {
    background-color: #f3f2ef;
}

.bg-3 {
    background-color: #0a66c2 !important;
}

.mt-2-5 {
    margin-top: 12px;
}

.mt-3-5 {
    margin-top: 20px;
}

.mt-4-3 {
    margin-top: 32px;
}

.mt-4-5 {
    margin-top: 46px;
}

.mr-2-5 {
    margin-right: 12px;
}

.ml-4-2 {
    margin-left: 30px;
}

.pt-0-5 {
    padding-top: 2px;
}

.pt-6 {
    padding-top: 70px;
}

.px-4-3 {
    padding-left: 32px;
    padding-right: 32px;
}

.pb-6 {
    padding-bottom: 70px;
}

.py-2-5 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.rounded-24 {
    border-radius: 24px !important;
}

.rounded-32 {
    border-radius: 32px !important;
}

.border-1 {
    border: 2px solid #0A66C2 !important;
}

.border-2 {
    border: 1px solid #0A66C2 !important;
}

.profile-padding {
    padding-left: 367.6px !important;
    padding-right: 367.6px !important;
}

.root-padding {
    padding-left: 195.6px !important;
    padding-right: 195.6px !important;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-58 {
    font-size: 29px !important;
}

.text-1 {
    color: #0A66C2 !important;
}

.text-2 {
    color: #b24020;
}

.text-3 {
    color: rgba(0, 0, 0, 0.6) !important;
}

.text-4 {
    color: #057642;
}

.text-5 {
    color: rgba(0, 0, 0, 0.9);
}

.text-6 {
    color: rgba(0, 115, 177, 0.9);
}

.img-number {
    height: 40px !important;
}

.section-login {
    padding-top: 155.4px;
}

.section-signup {
    padding-top: 108.78px;
}

.section-verification {
    padding-top: 217.56px;
}

.verification-form {
    width: 296px !important;
}

.form {
    padding-left: 385.2px;
    padding-right: 385.2px;
}

.jms-logo {
    font-size: 24px;
}

.card {
    border-radius: 8px !important;
    padding: 24px 32px 32px;
    width: 352px;
    margin: 0 auto;
}

.dropdown-menu {
    border-radius: 8px 0px 8px 8px !important;
}

.dropdown-menu-me {
    width: 284px;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: white !important;
}

.dropdown-item:focus, .cancel-button:focus, .delete-button:focus, .detail-information:focus {
    box-shadow: none !important;
}

#email, #password {
    width: 100%;
    border: 1px solid rgba(199, 197, 197, 0.6);
    padding: 6px 12px;
    font-size: 14.4px;
}

#email, #password, .job-search-box-text-input {
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #0A66C2 !important;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.font-weight-semi-bold {
    font-weight: 600 !important;
}

.login-action, .signup-action, .verify-action, #join-now, .login-now, .job-search-box-submit-button, .job-card-applicant-count {
    font-weight: 600 !important;
}

.login-action, .signup-action, .verify-action, .job-search-box-submit-button {
    background-color: #0a66c2;
}

.login-action, .signup-action, .verify-action {
    cursor: pointer;
    height: 52px;
    border: 0;
    color: #fff;
}

.join-now {
    margin-top: 40px;
}

.job-module-header {
    font-weight: 600;
}

.job {
    padding: 12px;
}

.job-card-title {
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.font-weight-600 {
    font-weight: 600 !important;
}

.job-card-applicant-count {
    margin-top: 32px;
}

#job-location:before, .experience-type:before, .job-location:before, .job-remote:before {
    margin-left: 4px;
    margin-right: 4px;
    content: " \B7 ";
}

.react-datepicker-popper {
    z-index: 9999 !important;
}

@media screen and (max-width: 1000px) {
    .profile-padding {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

   .root-padding {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .navbar-cta {
        flex-basis: unset !important;
        flex-grow: unset !important;
    }

    .nav {
        flex-direction: unset !important;
        padding-top: 0;
    }

    .nav-my-photo {
        width: 32px;
    }

    .icon {
        margin-right: 0;
    }

    .brand {
        font-size: 28px !important;
    }

    .section-welcome {
        padding-top: 20px !important;
    }

    .section-welcome-left {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .welcome-module {
        margin-top: 24px;
    }

    .welcome-module-list {
        border-radius: 5px;
        padding: 16px;
    }

    .welcome-module-button {
        font-size: 20px;
    }

    .section-workflow {
        padding-top: 56px;
    }

    .section-user, .section-workflow-3 {
        padding-bottom: 56px;
    }

    .user-headline {
        font-size: 32px;
    }

    .user-headline, .user-module, .workflow-headline, .workflow-number, .workflow-headline-module {
        text-align: center;
    }

    .user-headline {
        margin-bottom: 16px;
    }

    .user-module, .workflow-module {
        font-size: 20px;
    }

    .workflow-headline {
        font-size: 44px;
    }

    .section-workflow-left {
        justify-content: center;
    }

    .workflow-headline-module {
        margin-top: 16px;
    }

    .job-search-box-text-input {
        text-align: center;
    }

    .skills {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #job-location:before {
        content: "" !important;
    }

    .form {
        padding-left: 8px;
        padding-right: 8px;
    }

    footer {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}